.documents {
  padding: 40px 90px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 0 30px;
}

@media screen and (max-width: 1100px) {
  .documents {
    padding: 25px 20px 115px 20px;
  }
}

@media screen and (max-width: 767px) {
  .documents {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
}

.documents__filter {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 230px;
}

.documents__filter-item {
  display: block;
  width: 100%;
  border-bottom: 3px solid #727272;
  padding: 0;
}

.documents__filter-btn {
  text-align: start;
  width: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0 0 15px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.documents__filter-btn:hover {
  transform: scale(1.1);
}

.documents__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.documents__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px 10px 15px 10px;
}

.documents__list-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.documents__list-item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.documents__list-item-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.documents__list-item-btn {
  border: none;
  background-color: transparent;
  color: #7dad1b;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.documents__list-item-btn::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 22px;
  background: url("../assets/images/download.svg") center / cover no-repeat;
}

.documents__list-item-date {
  margin: 0;
}

.documents__list-item-size {
  margin: 0;
}
