.hero {
  background: url("../assets/images/hero.jpg") center / cover no-repeat;
  min-height: 430px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 350px;
  }
}

.hero_text {
  background: rgba(139, 169, 79, 0.4);
  backdrop-filter: blur(7.5px);
  border-radius: 0px 20px 20px 0px;
  max-width: 1020px;
  padding: 46px 0 46px 40px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hero_text {
    padding: 20px 0 20px 15px;
    /* background: rgba(23, 28, 11, 0.4); */
  }
}

.hero_title {
  margin: 0;
  font-family: "Kaisei HarunoUmi";
  font-weight: 700;
  font-size: 60px;
  line-height: 87px;
  line-height: 145%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .hero_title {
    font-size: 48px;
  }
}

.hero_subtitle {
  margin: 0;
  font-size: 25px;
  line-height: 124%;
  font-weight: 400;
  color: #fff;
}
