.news {
  padding: 50px 90px 215px 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px 30px;
}

@media screen and (max-width: 1399px) {
  .news {
    padding: 50px 20px 215px 20px;
  }
}

@media screen and (max-width: 899px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
  }
}

.news__article {
  max-width: 367px;
  border-radius: 10px;
  background-color: #f4f4f4;
  overflow: hidden;
  margin: 0 auto;
}

.news__article-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.news__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 150px;
}

.news__article-date {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
  margin: 0;
}

.news__article-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  text-transform: uppercase;
}

.news__article-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  max-height: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news__article-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 9px 15px;
  border: 2px solid #7dad1b;
  border-radius: 10px;
  align-self: flex-start;
  transition: background-color 0.2s ease;
}

.news__article-link:hover {
  background-color: #7dad1b;
}
